'use strict';

/**
 * @ngdoc service
 * @name clinikoApp.settings
 * @description
 * # settings
 * Service in the clinikoApp.
 */
angular.module('clinikoApp')
  .service('settings', function () {
    
    return {
        'clinikoApiBase': 'http://localhost:8000', // kong base api
        'clinikoApiToken': '...', // cliniko token
        'clinikoVendorName': '...', // cliniko username
        'clinikoVendorEmail': '...' // cliniko email
    } 

  });
