
<section class="page" role="main">
  <header class="flex flex-center flex-justify mb3 px3 max-px0">
    <div class="flex mr3">
      <h1 class="h1">Products</h1>
      <span class="callout">{{products.products.length}}</span>
    </div>
    <div class="flex" role="toolbar">
      <button 
        ng-click="clearActiveProduct();showProductForm(true);" 
        class="button color-action">Add product</button> 
    </div>
  </header>

  <manage-product 
    ng-show='productFormIsVisible'
    products=products
    product=activeProduct
    showProductForm=showProductForm >  
  </manage-product>
  
  <product-listing
    products=products
    activeProduct=activeProduct
    stockLevelSearch=stockLevelSearch
  ></product-listing>
</section>