<section class="page" role="main">
  <header class="flex flex-center flex-justify mb3 px3 max-px0">
    <div class="flex mr3">
      <h1 class="h1">Products</h1>
      <span class="callout">3</span>
    </div>
    <div class="flex" role="toolbar">
      <button class="button color-action">Add product</button>
    </div>
  </header>
  <div class="controls flex flex-center mb3">
    <label class="form__label mr2 mb0" for="stock-quantity">Show products with stock levels less than:</label>
    <div>
      <input aria-controls="products" class="form__input form__input--number" id="stock-quantity" placeholder="enter quantity" type="number" />
    </div>
  </div>
  <table class="table" id="products">
    <tbody>
      <tr class="table__row-header">
        <th class="table__cell-header">Name</th>
        <th class="table__cell-header">Supplier</th>
        <th class="table__cell-header">Stock Level</th>
        <th class="table__cell-header">Price (ex. tax)</th>
        <th class="table__cell-header">Price (inc. tax)</th>
      </tr>
      <!-- Clicking a row should take us to the product detail page -->
      <tr class="table__row">
        <td class="table__cell" data-label="Name">
          <span class="color-gray mr1" title="Item number">101</span>Lotion</td>
        <td class="table__cell" data-label="Supplier">DermaSoft</td>
        <td class="table__cell" data-label="Stock Level">21</td>
        <td class="table__cell" data-label="Price (ex. tax)">$24.00</td>
        <td class="table__cell" data-label="Price (inc. tax)">$26.40</td>
      </tr>
      <tr class="table__row bg-silver">
        <td class="table__cell" data-label="Name">
          <span class="color-gray mr1" title="Item number">132</span>Burn Cream</td>
        <td class="table__cell" data-label="Supplier">DermaSoft</td>
        <td class="table__cell" data-label="Stock Level">35</td>
        <td class="table__cell" data-label="Price (ex. tax)">$50.00</td>
        <td class="table__cell" data-label="Price (inc. tax)">$55.00</td>
      </tr>
      <tr class="table__row">
        <td class="table__cell" data-label="Name">
          <span class="color-gray mr1" title="Item number">203</span>Sun Glasses</td>
        <td class="table__cell" data-label="Supplier">General Vendor</td>
        <td class="table__cell" data-label="Stock Level">0</td>
        <td class="table__cell" data-label="Price (ex. tax)">$10.00</td>
        <td class="table__cell" data-label="Price (inc. tax)">$11.00</td>
      </tr>
    </tbody>
  </table>
</section>