
<!-- todo: make a directive -->
<section class="page px3 max-px0" role="main">
  <a href="#/" class="button button--link mb3">Back to products</a>
  <header class="flex flex-center flex-justify mb3">
    <h1 class="h1">{{product.name}}</h1>
    <div 
      ng-show='product.id'
      class="flex" role="toolbar">
      <button class="button button--group">Edit product</button>
      <button 
        ng-click="delete(product);"
        class="button button--group">Delete</button>
    </div>
  </header>
  
  <product-details product=product ></product-details>
  <stock-adjustments-list product=product></stock-adjustments-list>
  
</section>

